/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color to the body */
body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
}

/* Style the header with a teal background color and white text */
h1 {
    background-color: #2b6777;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the form container with a grey background and padding */
form {
    background-color: #CCC;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}

/* Style form elements */
input[type="file"],
select,
input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #666;
    border-radius: 4px;
    font-size: 16px;
}

select[name="fileType"] {
    width: 25%;
}

/* Style the submit button with a blue background color and white text */
input[type="submit"] {
    background-color: #CC9900;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Change button color on hover */
input[type="submit"]:hover {
    background-color: #669999;
}

/* Textarea*/

div.textarea {
    min-height: 50px;
 }
 
 div.textarea textarea {
    position: absolute;
    min-height: 30px;
    width: 300px;
    transition: all 200ms;
 }
 
 div.textarea textarea:focus {
    z-index: 1001;
    min-height:250px;
 }

/* .button-container {
    display: flex;
    justify-content: center;
} */

/* Style the submit button with a blue background color and white text */
/* button {
    background-color: #CC9900;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 25%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #666;
    border-radius: 4px;
} */

/* Change button color on hover */
/* button:hover {
    background-color: #669999;
} */

/* Left-align all labels */
form label {
    display: inline-block;
    text-align: left !important;
}

/* Show delimiter elements initially */
label[name="delimLabel"] {
    text-align: center;
}

input[name="delimiter"] {
    width: 25%;
    display: inline-block;
}

.container {
    display: flex;
    direction: ltr;    
}

.left-section {
    flex: 1;
    display: flex;
    align-items: left;     
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: left;    
}

/* Hide the element by default */
.hidden {
    display: none;
}

/* Style for Success Alert */
.alert.alert-success {
    background-color: #dff0d8;
    border: 1px solid #3c763d;
    color: #3c763d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

/* Style for Danger Alert */
.alert.alert-danger {
    background-color: #f2dede;
    border: 1px solid #a94442;
    color: #a94442;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;    
}

/* Style the home icon in the header */
header a[name="homeIcon"] {
    display: inline-block;
    margin-right: 20px; /* Add some space between the icon and other content */
    text-decoration: none; /* Remove underline from the link */
    color: #003366;
}

/* Style the Alert Window */
/* .hidden {
    display: none;
}

#customAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

#customAlertContent {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#customAlert button {
    margin-top: 10px;
} */
